
.home-page-three {
    background-color: var(--bg-color-2);
    padding-bottom: 80px;
    padding-top: 80px;
}

.container {
    margin: 0 auto;
    width: 802px;
height: 502px;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 28px;
}

.rtg {
    align-items: start !important;
}

.blog {
    width: 300px;
height: 60px;
flex-shrink: 0;
    p {
        @include h2;
        color: var(--Primary);
    }
}

.all-foto {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.three-foto {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.advans {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
height: 133px;
flex-shrink: 0;
border-radius: 4px;
background: url(../../../../assets/images/f-img.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-color: lightgray;
background-position: 50%;
}
.listing {
    display: flex;
    padding: 5px 5px 5px 20px;
    opacity: 0.5;
    background: black;

    img {
        height: 24px;
        width: 24px;
    }
}
.listing-line {
}
.text-line-one {
    @include h9;
}
.text-line-two {
}
.test-button {
}