.footer-page-five {
    background-color: var(--bg-color-2);
    padding-bottom: 100px;
    
}
.container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 70px;
}
.logo-finish {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
    margin-top: 110px;
    margin-bottom: 40px;
}
.logo-one {
    display: flex;
    flex-direction: column;
}

.titry {
    width: 500px;
    height: 366px;
    p {
        text-align: center;
        margin-bottom: 20px;
        @include h6;
        span {
            @include h6-gold;
        }
    }
}

.social {
    display: flex;
    gap: 20px;
}

.line {
    width: 220px;
height: 2px;
flex-shrink: 0;
background-color: #666
}

.power {
    p {
        @include h7;
    }
}