:root {
    --font-color: #FFFFFF;
    --Grey-2: #97999B;
    --Primary: #B10000;
    --Complementary-Light: #19FCDA;
    --bg-color-2: #2C2C2C;
    --Gold: linear-gradient(90deg, #FFEDC2 0%, #F7EFA6 17.67%, #F3D16E 37.63%, #EEC65E 46.57%, #E4B650 56.76%, #AF7121 62.37%, #AF7121 65.28%, #F2D76C 71.52%, #F8E77D 79.21%, #F7F1A4 84.41%, #FFF2C5 89.19%, #E6AD06 93.75%, #E6AD06 94.38%, #FBCB4A 99.99%);
}
